@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

body {
  background-color: #0a0a0a;
  color: #ededed;
  font-family: var(--font-grotesk);
}